In [5]:
import pandas as pd

In [17]:
df = pd.read_csv(r"C:\Users\Utilizador\Downloads\clothes_price_prediction_data.csv")
df.head()

          Brand Category  Color Size Material  Price
0   New Balance    Dress  White   XS    Nylon    182
1   New Balance    Jeans  Black   XS     Silk     57
2  Under Armour    Dress    Red    M     Wool    127
3          Nike    Shoes  Green    M   Cotton     77
4        Adidas  Sweater  White    M    Nylon    113

In [19]:
df.shape

(1000, 6)

In [27]:
df["Brand"].unique()

array(['New Balance', 'Under Armour', 'Nike', 'Adidas', 'Reebok', 'Puma'],
      dtype=object)